

// preset form values if we receive an block object //
- block = typeof(udata) != 'undefined' ? udata : { }
// store the block ID on the client side in a hidden input field //
input(type='hidden', value= block._id)#ExcerId

#block-form-container.center-vertical.col-sm-10
	form.card.card-body.bg-light(method='post')#block-form
		h3
		h4#sub Vegyél fel egy új blokk sablont
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Blokk sablon neve
			.col-sm-8
				input.form-control#name_tf(type='text', name='name3', value= block.name)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Blokk ismétlése
			.col-sm-8
				select.form-control#repeat_tf(name='repeat')
					option(value="n1x" selected) Naponta egyszer
					option(value="n1xh3x") Naponta egyszer majd hetente háromszor
					option(value="h3x") Hetente háromszor

		- for (var u = 0; u < 5; u++)
			hr
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Gyakorlat #{u+1} neve
				.col-sm-8
					select.form-control#excer_id_tf(name='excer_id3')
						option(value=0 selected) Üres
						- for (var i = 0; i < excers.length; i++)
							option(value=excers[i]._id) #{excers[i].name}
		hr
		.form-buttons
			button(type='button')#block-form-btn1.btn.btn-outline-dark Törlés
			button(type='submit')#block-form-btn2.btn.btn-primary Hozzáadás



// display form errors in a custom modal window //

include modals/form-errors
