
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		.nav-item
			.navbar-brand Beállítások
		.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout Kilépés

	include excercise
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/excercise.js')
	script(src='/js/controllers/excerciseController.js')
	script(src='/js/form-validators/excerciseValidator.js')