
include admin_navbar

include a_excercise
include modals/alert
include modals/confirm

block scripts
	script(src='/js/views/excercise.js')
	script(src='/js/controllers/excerciseController.js')
	script(src='/js/form-validators/excerciseValidator.js')