
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href='/admin_users') Felhasználók
			li.nav-item
				a.nav-link(href='/admin_dailyplan') Napi tervek
			li.nav-item
				a.nav-link(href='/admin_excercise') Gyakorlatok
			li.nav-item
				a.nav-link(href='/admin_block') Blokkok
		ul.navbar-nav.float-right
			li.nav-item
				a.nav-link(href='/logout') Kilépés
			//li.nav-item.dropdown
				a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Fiók
					.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
						a.dropdown-item(href='#') Beállítások
						a.dropdown-item(href='#') Kilépés