
include admin_navbar

include a_dailyplan
include modals/alert
include modals/confirm

block scripts
	script(src='/js/views/dailyplan.js')
	script(src='/js/controllers/dailyplanController.js')
	script(src='/js/form-validators/dailyplanValidator.js')