
include admin_navbar

include a_block
include modals/alert
include modals/confirm

block scripts
	script(src='/js/views/block.js')
	script(src='/js/controllers/blockController.js')
	script(src='/js/form-validators/blockValidator.js')