
extends layout

block content
	#login.center-vertical
		form.card.card-body.bg-light(method='post')
			h3 Üdv újra itt!
			h6 Kérlek lépj be, ha már van fiókod
			.form-group
				label Felhasználó
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Jelszó
				input.form-control(type='password', id='pass-tf', name='pass')
			#row1
				button(type='button')#btn_remember.btn.btn-light.btn-left
					span.fa.fa-check-square
					| Emlékezz rám
				button(type='submit')#btn_sign_in.btn.btn-primary
					span.fa.fa-lock
					| Belépés
			hr
			.btm-links
				#forgot-password
					a(href='#') Elfelejtettem a jelszavam
				#create-account
					a(href='/signup') Fiók nyitása

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')