

include user_navbar
include account
include modals/alert
include modals/confirm

block scripts
	script(src='/js/views/user_settings.js')
	script(src='/js/controllers/user_settingsController.js')
	script(src='/js/form-validators/accountValidator.js')