
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href='/home') Beállítások
			li.nav-item
				a.nav-link(href='/user_dailyplan') Napi tervek
			li.nav-item
				a.nav-link(href='/user_history') Történelem
		ul.navbar-nav.float-right
			li.nav-item
				a.nav-link(href='/logout') Kilépés
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
					.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
						a.dropdown-item(href='#') Beállítások
						a.dropdown-item(href='#') Kilépés