.blocks {
  width: 90%;
}

.youtube-modal {
  width: 700px;
  height: 420px;
  padding-top: 75px;
}

.youtubeButton{
  color: red;
  font-size: 6rem;
  line-height: 4rem;
  max-height: 120px;
  border: none;
  background: transparent;
  outline: none;
  bottom: 0;
  right: 0;
  &:focus {
    outline: none;
  }
}

.youtubeClose {
  color: red;
  border: none;
  background: transparent;
  font-size: 2rem;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  radius: 50%;
}

.date, .arrow {
  line-height: 40px;
  color: #212529;
}

.arrow:focus{
  outline: none
}

.blocks .block-card {
  cursor: pointer;
  transition: all 0.2s ease-out;
  max-width: 30%;
}

.block-card:hover {
  box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.block-card:active {
  transform: scale(1.01) translateY(0.2rem);
}
