.Header .navbar {
  height: 50px;
  padding: 0 1rem;
}

.logout{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.logout:hover, .logout:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
}

.navbar-nav .active {
  border-bottom: 2px solid black;
  padding: 12px 1rem;
}
